
<script type="text/javascript">

  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.effectAllowed='move';
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect='move';
    var data = ev.dataTransfer.getData("text");
    var draggedId = ev.target.id;
    if(draggedId.includes('dragg')){
      return false;
    }
    ev.target.appendChild(document.getElementById(data));
  }

</script>
<div ng-controller="empty">
  <head>
    <style>
      [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
      }
      .thumbnail {
        border: 1px solid #ddd;
        min-height: 50px;
      }
    </style>
  </head>


  <div  ng-repeat="model in list1">
    <div  ng-bind-html="model.div | unsafe"></div>
  </div>

</div>



