<div ng-controller="empty">
  <head>
    <style>
      .thumbnail {
        border: 1px solid #ddd;
        min-height: 50px;
      }
    </style>
  </head>
  <div ng-class="{'edit':'edit-mode', 'read':'read-mode'}[mode]">
    <div class="thumbnail" ng-repeat="model in list1" data-drop="true" ng-model='list1'
         jqyoui-droppable="{index: {{$index}} , stack: true, multiple:true}">
      <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1"
           jqyoui-draggable="{index: {{$index}},animate: true }">
        <div ng-bind-html="model.content | unsafe"/>
      </div>
    </div>
  </div>




</div>



