<div id="rest" class="container-fluid" ng-controller="pageListController">
  <table height="15px" class="table table-condensed table-bordered table-hover table-striped">
    <thead>
    <td class="info">

    </td>
      <td class="info">
        {{'PAGE_NAME_TEXT' | translate}}
      </td>
      <td class="info">
        {{'PAGE_NAME_CREATOR_TEXT' | translate}}
      </td>
      <td class="info">
        {{'PAGE_LAYOUT_CREATOR_TEXT' | translate}}
      </td>
      <td class="info">
        {{'PAGE_LAYOUT_SCHEMA_TEXT' | translate}}
      </td>
    </thead>
    <tr ng-repeat="page in pagelist">
      <td>
        <a href="#">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      </td>
      <td class="info">
        {{page.name}}
      </td>
      <td class="info">
        {{page.creator.name}}
      </td>
      <td class="info">
        {{page.layout.creator.name}}
      </td>
      <td class="info">
        {{page.layout.schema}}
      </td>

    </tr>
  </table>
</div>

